<% provide(:title,'About') %>

<h1>About</h1>

 <p>Curretnly I am an independant developer looking for a serious position doing Ruby on Rails related work. To find out more about me please visit my <a href='https://www.linkedin.com/in/christopher-messenger-462360123?trk=hp-identity-photo'>LinkedIn</a> profile.</p>
