// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" according to https://github.com/twbs/bootstrap-sass#a-ruby-on-rails
@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-brown: #ecd9c6;
$lighter-brown: #f9f2ec;
$white: #fff;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 75px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
	line-height: 1.7em;
}


/* universal */

/*distance from navbar*/
body {
  padding-top: 100px;
	padding-bottom: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* header */

.header {
	a {
		padding-right: 200px;
		color: $white;
		&:hover {
			color: $white;
			text-decoration: none;
		}	
	}
	ul {
		margin-right: 1px;
		float: right;
	}		
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  	color: $white;
  	text-decoration: none;
  }
}



/* footer */

.footer {
  a { 
    color: $white;
    &:hover {
      color: $gray-light;
		  text-decoration: none;
    }   
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: right;
  		padding-top: 10px;
      margin-right: 10px;
			padding-left:15px;
		}
	}
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sections */

section {
  background: $lighter-brown; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($lighter-brown, $light-brown); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($lighter-brown, $light-brown); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($lighter-brown, $light-brown); /* For Firefox 3.6 to 15 */
  background: linear-gradient($lighter-brown, $light-brown); /* Standard syntax */
}

.shop-title {
	margin-top:25px;
}


/* products */

.product {
	ul {
		margin: 0px;
	}
	li {
	  list-style:none;
		cursor: zoom-in;
	}
}
