<h1>Checkout</h1>

<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <%= form_tag transactions_path do%>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%=submit_tag("Pay $#{subtotal}", class: "btn btn-primary") %>
  <%end%>
</div>
