<!-- this page shows all of the t-shirt product results -->

<!--shopping cart info-->
 <div class="cart-text"><%= render "layouts/cart" %></div>

<!--shows the requested pages title-->
<% provide(:title, params[:category].capitalize) %>

<!--Heading of requested shoping category-->
<h1><%= params[:category].capitalize %></h1>

<%= render 'products' %>
