<!-- this page shows all of the t-shirt product results -->

<h1><%= params[:category].capitalize %></h1>

<div class="product">
	<div class="row">
		<% @products.each do |product| %>
			<ul>
				<li>
					<div class="col-md-3"> <%= image_tag(product.image, height: '150', width: '150' ) %></br><span>Price: <%= product.price %></span></div>
				<li>
			</ul>
		<% end %>
	</div>
</div>
