<nav class="footer navbar nvbar navbar-inverse avbar-default navbar-fixed-bottom">
	<div class="container">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</nav>
